/* ===============================
   GOOGLE FONT
==================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F8F6F1;
    color: #2E2E2E;
    line-height: 1.7;
}

/* ===============================
   NAVIGATION
==================================*/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #14304E;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
}

.navbar {
    width: 90%;
    max-width: 1400px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;

    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    letter-spacing: 1px;

    white-space: nowrap;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    list-style: none;

    gap: 35px;

    flex-wrap: nowrap;
}

.nav-links li {
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}


.first-name {
    color: #F8F6F1;
}

.last-name {
    color: #95673F;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: .3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: #EFE1BE;
}

/* ===============================
   HERO
==================================*/

.hero {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.hero h3 {
    color: #95673F;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 55px;
    color: #14304E;
    line-height: 1.2;
}

.hero h2 {
    color: #95673F;
    margin: 20px 0;
}

.hero p {
    margin-bottom: 35px;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #CFCCB5;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background: #14304E;
    color: white;
    padding: 14px 28px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background: #95673F;
}

.btn-outline {
    background: transparent;
    color: #14304E;
    border: 2px solid #14304E;
}

.btn-outline:hover {
    color: white;
}

/* ===============================
   SECTION
==================================*/

section {
    width: 90%;
    max-width: 1200px;
    margin: 120px auto;
}

.section-title {
    font-size: 38px;
    color: #14304E;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    background: #95673F;
    display: block;
    margin: 15px auto;
    border-radius: 50px;
}

/* ===============================
   ABOUT
==================================*/

.about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
}

.about-text p {
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
}

.skills h3 {
    width: 100%;
    margin-bottom: 20px;
}

.skill-box {
    background: #CFCCB5;
    color: #14304E;
    padding: 12px 18px;
    border-radius: 30px;
    font-weight: 500;
    transition: .3s;
}

.skills-card {
    background: #FFFFFF;
    border: 2px solid #CFCCB5;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    height: fit-content;
}

.skills-card h3 {
    color: #14304E;
    margin-bottom: 20px;
    font-size: 22px;
}

.skill-box:hover {
    background: #95673F;
    color: white;
}

/* ===============================
   PROJECTS
==================================*/

.project-grid {
    width: 100%;
    max-width: 900px;
    margin: 50px auto 0;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.project-card {
    background: #fff;
    border: 2px solid #CFCCB5;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

    display: flex;
    flex-direction: column;

    transition: .3s;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.project-content {
    padding: 28px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-content h3 {
    margin-bottom: 15px;
    color: #14304E;
}

.project-content p {
    line-height: 1.7;
    margin-bottom: 25px;
}

.project-footer {
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-tags span {
    background: #CFCCB5;
    color: #14304E;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
}

.project-buttons {
    display: flex;
    gap: 12px;
}

.visit-btn {

    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background: #14304E;
    color: #fff;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
}

.visit-btn:hover {
    background: #95673F;
}

.gallery-btn {
    text-decoration: none;
    background: #95673F;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    transition: .3s;
    font-size: 14px;
    font-weight: 500;
}

.gallery-btn:hover {
    background: #14304E;
}

/* ===========================
        GALLERY MODAL
=========================== */

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    inset: 0;
    background: rgba(0, 0, 0, .85);
    justify-content: center;
    align-items: center;

}

.gallery-modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .35);

}

.close-gallery {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 45px;
    cursor: pointer;
}

.gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #14304E;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    transition: .3s;
}

.gallery-arrow:hover {
    background: #95673F;
}

.gallery-arrow.left {
    left: 40px;
}

.gallery-arrow.right {
    right: 40px;
}

.gallery-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #95673F;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    transition: .3s;
    font-weight: 500;
}

.gallery-btn:hover {
    background: #14304E;
}

.gallery-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EFE1BE;
    color: #14304E;
    font-size: 12px;
    font-weight: 600;
}

/* ===============================
   EDUCATION TIMELINE
==================================*/

#education {
    margin-top: 100px;
}

.timeline {
    position: relative;
    max-width: 950px;
    margin: 50px auto;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 185px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #CFCCB5;
    border-radius: 10px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 45px;
    margin-bottom: 55px;
    position: relative;
}

.timeline-date {
    width: 200px;
    text-align: right;
    padding-right: 40px;
    color: #95673F;
    font-weight: 600;
    font-size: 18px;
    flex-shrink: 0;
}

.timeline-content {
    flex: 1;
    background: #fff;
    border: 2px solid #CFCCB5;
    border-radius: 18px;
    padding: 28px 32px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
    position: relative;
    transition: .3s;
}

.timeline-content:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .12);
}

.timeline-content h3 {
    color: #14304E;
    margin-bottom: 15px;
    font-size: 26px;
}

.timeline-content p {
    color: #444;
    line-height: 1.8;
    margin-bottom: 8px;
}

.timeline-content::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background: #14304E;
    border: 5px solid #F8F6F1;
    border-radius: 50%;
    left: -57px;
    top: 30px;
    box-shadow:
        0 0 0 3px #CFCCB5,
        0 0 15px rgba(20, 48, 78, .25);
}

@media(max-width:900px) {
    .timeline::before {
        content: "";
        position: absolute;
        left: 230px;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #CFCCB5;
        border-radius: 20px;
    }

    .timeline-item {
        flex-direction: column;
        padding-left: 55px;
        gap: 15px;
    }

    .timeline-content::before {
        content: "";
        position: absolute;

        width: 20px;
        height: 20px;

        background: #14304E;
        border: 5px solid #F8F6F1;
        border-radius: 50%;

        left: -55px;
        top: 30px;

        box-shadow:
            0 0 0 3px #CFCCB5,
            0 0 15px rgba(20, 48, 78, .25);
    }
}

/* ===============================
   CONTACT
==================================*/

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.contact-card {
    background: #fff;
    border: 2px solid #CFCCB5;
    border-radius: 18px;
    padding: 35px 25px;
    text-align: center;
    transition: .3s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

.contact-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, .12);
}

.contact-card i {
    font-size: 40px;
    color: #14304E;
    margin-bottom: 18px;
}

.contact-card h3 {
    color: #14304E;
    margin-bottom: 12px;
}

.contact-card p,
.contact-card a {
    color: #555;
    text-decoration: none;
    line-height: 1.6;
    word-break: break-word;
}

.contact-card a:hover {
    color: #95673F;
}

/* ===============================
   FOOTER
==================================*/

footer {
    background: #14304E;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 80px;
}

/* ===============================
   RESPONSIVE
==================================*/

@media(max-width:900px) {

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .hero-image {
        order: -1;
    }

    .hero-image img {
        width: 270px;
        height: 270px;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .section-title {
        font-size: 32px;
    }

}

.section-description {
    max-width: 700px;
    margin: 0 auto 50px;
    text-align: center;
    color: #555;
}